.categories {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 70%;
    width: 100%;
    justify-content: flex-start;
    margin: 0 30px ;

    .categories__item {
      border: 1px solid rgba(128, 128, 128, 0.363);
      padding: 5px 10px;
      border-radius: 7px;
      cursor: pointer;
      margin: 20px 20px 20px 0;
      &:hover {
        background-color: black;
        color: #fff;
      }
    }

    .active {
      background-color: black;
      color: #fff;
    }
  }
}