.films {
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  // margin-right: 10px;
  // column-gap: 15px;
  // row-gap: 20px;
  margin: 0 auto;
  padding: 0 20px;

  .film {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 4px 3px 18px 0px rgba(0, 0, 0, 0.137);
    max-width: 240px;
    margin-right: 30px;
  
    &__title {
      margin-top: 5px;
      font-size: 18px;
      line-height: 18px;
      // height: 50px;
    }
  
    &__img {
      border-radius: 5px;
    }
  
    &__description {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 15px;
      padding-top: 5px;
    }

    &__quality {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      li {
        border: 1px solid rgba(128, 128, 128, 0.363);
        border-radius: 7px;
        padding: 5px 10px;
        cursor: pointer;

        &:hover {
          background-color: black;
          color: #fff;
        }

        
      }

      .active {
        background-color: black;
        color: #fff;
      }
    }
    button {
      padding: 10px 0;
      font-size: 18px;
      border: 1px solid rgba(128, 128, 128, 0.363);
      border-radius: 7px;
      cursor: pointer;
      margin-top: 15px;
      &:hover {
        background-color: black;
        color: #fff;
      }
    }
  }
  
}



